@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,600;9..144,700;9..144,800;9..144,900&family=Plus+Jakarta+Sans:wght@400;600;700;800&display=swap');

body {
    margin: 0;
    background: #FDF9F9;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    color: #000000;
}

h1 {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 700;
}

h2 {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 700;
}

#card-calculadora {
    box-sizing: border-box;

    background: #C4D9B5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

#card-resultado {
    box-sizing: border-box;

    background: #D2DBF5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

#valorInicial {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
}

#valorMensal {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
}

#taxaJuros {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
}

#periodo {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
}

#valorInicial::placeholder {
    color: #bbbbbb;
}

#valorMensal::placeholder {
    color: #bbbbbb;
}

#taxaJuros::placeholder {
    color: #bbbbbb;
}

#periodo::placeholder {
    color: #bbbbbb;
}

#btn-calcular {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 700;
    color: #FDF9F9;
    background: #729F52;
    border: 4px solid #729F52;
    border-radius: 10px;
}

#btn-limpar {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 700;
    color: #729F52;
    background: #FDF9F9;
    border: 4px solid #729F52;
    border-radius: 10px;
}

#valorTotalFinal {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    /*color: #325AD1;*/
    color: #3D3D3D;
}

#valorTotalInvestido {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    color: #3D3D3D;
}

#totalJuros {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    color: #2EBD2E;
}

#impostoRenda {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    color: #D80000;
}

#valorTotalFinal::placeholder {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    /*color: #325AD1;*/
    color: #3D3D3D;
}

#valorTotalInvestido::placeholder {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    color: #3D3D3D;
}

#totalJuros::placeholder {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    color: #2EBD2E;
}

#impostoRenda::placeholder {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    color: #D80000;
}